<h1>Data Table Object</h1>
<p>
  Try <b>https://catfact.ninja/fact</b> or
  <b>https://api.genderize.io/?name=luc</b>
</p>
<div class="form-group">
  <label for="apiAddress">API Address:</label>
  <input
    type="text"
    class="form-control"
    id="apiAddress"
    [(ngModel)]="apiAddress"
  />
</div>
<button class="btn btn-primary" (click)="fetchData()">Fetch Data</button>
<table class="table table-bordered" *ngIf="data">
  <thead>
    <tr>
      <th *ngFor="let key of displayedColumns">{{ key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let key of displayedColumns">{{ data[key] }}</td>
    </tr>
  </tbody>
</table>
